/backend/target
/backend/Cargo.lock
/backend-go/go.sum
/backend-go/urlshortener

/frontend/node_modules
/frontend/.env
/frontend/.env.local
/frontend/.env.development.local
/frontend/.env.test.local
/frontend/.env.production.local
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*
/frontend/build
/frontend/.cache
